---
import Layout from "../layouts/Layout.astro";
import MainSection from "../components/MainSection.astro";
---

<Layout title="Cumple de Isabella">
  <main>
    <section>
      <MainSection />
    </section>
  </main>
</Layout>

<style>
  section {
    width: 100dvw;
  }
</style>
