---
import Layout from "../layouts/Layout.astro";
import BirthDaySection from "../components/BirthDaySection.astro";
import QuestionSection from "../components/QuestionSection.astro";
import GreetingSection from "../components/GreetingSection.astro";
import IntroSection from "../components/IntroSection.astro";
import FinalConfirmationSection from "../components/FinalConfirmationSection.astro";
import ScheduleSection from "../components/ScheduleSection.astro";
---

<Layout title="Cumple de Isabella">
  <main>
    <IntroSection />
    <GreetingSection />
    <BirthDaySection />
    <QuestionSection />
    <ScheduleSection />
    <FinalConfirmationSection />
  </main>
</Layout>
