---
import Layout from "../layouts/Layout.astro";
import MainSection from "../components/MainSection.astro";
import BirthDaySection from "../components/BirthDaySection.astro";
import ConfirmationSection from "../components/ConfirmationSection.astro";
import IntroSection from "../components/IntroSection.astro";
---

<Layout title="Cumple de Isabella">
  <main>
    <IntroSection />
    <ConfirmationSection />
    <MainSection />
    <BirthDaySection />
  </main>
</Layout>
