<section>
  <div class="container">
    <div class="angel-container">
      <img
        id="angel"
        class="img-angel animate__delay-2s animate__animated invisible"
        src="/img/angel-min.webp"
        alt="angel"
      />
    </div>
    <img
      id="number"
      class="balloons animate__delay-2s animate__animated invisible"
      src="/img/balloons-min.webp"
    />

    <h1
      id="rounded-title"
      class="typography animate__delay-1s animate__animated"
    >
      BautiCumple
    </h1>
    <div id="rounded-img" class="img-container animate__animated invisible">
      <img class="img-isu" src="/img/isu_1-min.webp" alt="Isabella" />
    </div>
    <h1
      id="rounded-subtitle"
      class="typography animate__delay-1s animate__animated"
    >
      de Isabella
    </h1>
  </div>
</section>

<style>
  .container {
    background: radial-gradient(circle, white, var(--pink));

    bottom: 0;
  }
  h1 {
    font-size: 3.5rem;
    z-index: 5;
  }

  .balloons {
    position: absolute;
    top: 4rem;
    left: 0;

    width: 50%;
    height: auto;

    margin: 0;
    padding: 0;

    filter: drop-shadow(5px 5px 5px var(--dark-pink));
  }

  .number sup {
    font-size: 2.5rem;
    vertical-align: super;
  }

  .img-container {
    display: flex;
    justify-content: center;
    margin-inline: auto;
    margin-block: -9rem -7.5rem;

    height: 250px;
    width: 250px;

    border: 1rem solid white;
    border-radius: 50%;
    box-shadow: 5px 5px 0px gray;

    background-image: url("/img/relieve-min.webp");
    background-blend-mode: overlay;
    overflow: hidden;

    position: relative;
    filter: drop-shadow(5px 5px 5px var(--dark-pink));
  }

  .img-isu {
    width: auto;
    object-fit: fill;
    filter: drop-shadow(5px 5px 5px var(--pink));

    margin: 1rem;
  }

  .angel-container {
    position: absolute;
    top: 4rem;
    right: 0;
    transform: scaleX(-1);
  }

  .img-angel {
    width: 10rem;
    filter: drop-shadow(5px 5px 5px var(--dark-pink));
    transform: rotateX(-1);
  }

  #title,
  #subtitle {
    backdrop-filter: blur(50px) saturate(100%);
  }
</style>

<script>
  // @ts-ignore
  import CircleType from "circletype";
  let firstTime = true;

  const imgIsu = document.querySelector("#rounded-img");

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        if (imgIsu) {
          imgIsu.classList.add("animate__rollIn", "visible");
        }

        const number = document.querySelector("#number");
        if (number) {
          number.classList.add("animate__slideInLeft", "visible");
        }

        const angel = document.querySelector("#angel");
        if (angel) {
          angel.classList.add("animate__slideInLeft", "visible");
        }

        const title = document.querySelector("#rounded-title");

        if (firstTime) {
          const circleTypeTitle = new CircleType(title);
          circleTypeTitle.radius(205);
        }

        if (title) {
          title.classList.add("animate__fadeIn");
        }

        const subtitle = document.querySelector("#rounded-subtitle");

        if (firstTime) {
          const circleTypeSubTitle = new CircleType(subtitle);
          circleTypeSubTitle.radius(210).dir(-1);
        }

        if (subtitle) {
          subtitle.classList.add("animate__fadeIn");
        }

        firstTime = false;
      }
    });
  });

  if (imgIsu) {
    observer.observe(imgIsu);
  }
</script>
