---
import Heart from "./Heart.astro";
---

<div class="confirmation-container">
  <div class="bg_container">
    <div class="bg_heart">
      <Heart />
      <Heart />
      <Heart />
      <Heart />
      <Heart />
      <Heart />
    </div>
  </div>
  <div class="img-container">
    <img class="img-isu" src="/img/Isu_4.png" alt="isu" />
  </div>
</div>

<style>
  .confirmation-container {
    height: 100dvh;

    position: relative;
  }

  .bg_container {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
  }

  .bg_heart {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .img-container {
    width: 30rem;
    height: 100%;

    position: relative;
  }

  .img-isu {
    height: 80%;
    filter: drop-shadow(5px 5px 5px gray);
    margin: auto;

    position: absolute;
    left: -5rem;
    bottom: 0;
  }
</style>
