---
import Dialog from "./Dialog.astro";
import Heart from "./Heart.astro";
---

<section id="confirmation">
  <div class="container">
    <div class="bg_container">
      <div class="bg_heart">
        <Heart />
        <Heart />
        <Heart />
        <Heart />
        <Heart />
        <Heart />
      </div>
    </div>
    <div class="img-container">
      <Dialog
        id="dialog2"
        message="Hola familia y amigos, soy Isu y les presento..."
      />
      <img
        id="img-isu2"
        class="img-isu animate__animated"
        src="/img/Isu_4.png"
        alt="isu"
      />
    </div>
  </div>
</section>

<style>
  .bg_container {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
  }

  .bg_heart {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .img-container {
    width: 30rem;
    height: 100%;

    position: relative;
  }

  .img-isu {
    max-height: 80%;
    filter: drop-shadow(5px 5px 5px gray);
    margin: auto;

    position: absolute;
    left: -5rem;
    bottom: 0;
  }
</style>

<script>
  const imgIsu = document.querySelector("#img-isu2");

  const observer = new IntersectionObserver((entries) => {
    // Loop over the entries
    entries.forEach((entry) => {
      // If the element is visible
      if (entry.isIntersecting) {
        // Add the animation class
        if (imgIsu) {
          imgIsu.classList.add("animate__slideInUp");
        }

        const dialog = document.querySelector("#dialog2");
        if (dialog) {
          dialog.classList.add("animate__fadeIn");
        }
      }
    });
  });

  if (imgIsu) {
    observer.observe(imgIsu);
  }
</script>
