<section id="vertical_message">
  <div class="container">
    <div class="animate__animated animate__zoomInDown">
      <h3 class="animate__animated animate__pulse typography">Ups!</h3>
      <h3 class="animate__animated animate__pulse typography">
        Poné tu celu en vertical para ver la invitación
      </h3>
    </div>
  </div>
</section>

<style>
  .container {
    background-color: black;
    font-size: 2rem;
    justify-content: flex-start;

    text-align: center;
  }

  h3 {
    margin: 1rem;
  }

  .typography:first-child {
    font-size: 4rem;
  }
</style>
