<section id="vertical_message">
  <div class="container">
    <div class="animate__animated animate__zoomInDown">
      <h3 class="animate__animated animate__pulse typography">Ups!</h3>
      <h3 class="animate__animated animate__pulse typography">
        Pone tu celu en vertical para ver la invitacion
      </h3>
    </div>
  </div>
</section>

<style>
  .container {
    width: 100vw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    font-size: 2rem;

    text-align: center;
  }

  .typography:first-child {
    font-size: 4rem;
  }
</style>
