---
import "animate.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <meta
      name="description"
      content="Se viene el cumple de Isu y queremos compartirlo con vos!!!"
    />
    <meta property="og:title" content="Cumple y Bautismo de Isu" />
    <meta property="og:url" content="https://birthday-invite.vercel.app" />
    <meta
      property="og:description"
      content="Se viene el cumple de Isu y queremos compartirlo con vos!!!"
    />
    <meta
      property="og:image"
      content="https://birthday-invite.vercel.app/img/share_og.jpg"
    />
    <meta property="og:type" content="website" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --pink: #fdcae1;
    --dark-pink: #d46195;

    --yellow: #fdfd96;
    --dark-yellow: #ecec60;

    --green: #8af0ce;
    --dark-green: #4f9d7e;
  }

  @font-face {
    font-family: "Helsinki";
    src: url("/fonts/helsinki.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "HappyMonkey";
    src: url("/fonts/HappyMonkey.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body {
    height: 100vh;

    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
    height: 100%;

    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  section {
    width: 100vw;
    height: 100%;

    scroll-snap-align: center;
  }

  section .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    padding-top: 1rem;
  }

  .typography {
    color: var(--pink);
    font-family: "Helsinki", sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--dark-pink);
  }
</style>

<script>
  const bgAudio = new Audio("/audio/happy_day.mp3");

  // @ts-ignore
  document.bgAudio = bgAudio;

  window.onblur = function () {
    if (bgAudio) bgAudio.pause();
  };

  window.onfocus = function () {
    if (bgAudio && bgAudio.paused && bgAudio.currentTime !== 0) {
      bgAudio.play();
    }
  };
</script>
