---
import "animate.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --pink: #fdcae1;
    --dark-pink: #d46195;

    --yellow: #fdfd96;
    --dark-yellow: #ecec60;
  }

  @font-face {
    font-family: "Helsinki";
    src: url("/fonts/helsinki.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body {
    height: 100vh;

    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  main {
    height: 100vh;

    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
  }
  section {
    width: 100dvw;
    height: 100vh;

    scroll-snap-align: center;
  }
</style>
